@model CAR_RENTAL_APPLICATION.Models.contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mailingList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mailingList.mailingListId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.contactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
