@model IEnumerable<CAR_RENTAL_APPLICATION.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<div class="p-4 p-md-5 mb-4 text-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Our offers</h1>
        <p class="lead my-3">
            Choose one of our cars and start driving!
        </p>
    </div>


    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-12 col-md-6 col-lg-3 pb-4 text-dark">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/@Html.DisplayFor(modelItem => item.CarImagePath)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Brand)</h5>

                    <p class="card-text ">
                       Colour: @Html.DisplayFor(modelItem => item.Colour)
                    </p>
                    <p class="card-text ">
                       Capacity: @Html.DisplayFor(modelItem => item.Capacity)
                    </p>
                    <p class="card-text ">
                       Doors: @Html.DisplayFor(modelItem => item.NumberOfDoors)
                    </p>
                    <p class="card-text ">
                       Year: @Html.DisplayFor(modelItem => item.FabricationYear)
                    </p>
                    <a asp-area="" asp-controller="Payments" asp-action="Create" class="btn btn-dark">Book now!</a>
                </div>
            </div>
        </div>


        }

    </div>




</div>

